

<div class="col-md-12 row">
    <div class="col-md-12 "><h3>List of product</h3></div>
    {% for item in data %}
    <div class="col-md-4">
        <div class="card" style="width:auto; height:400px">
            <img class="card-img-top" style="height:300px ;" src="{{ item.image.url }}"  alt="Card image cap">
            <div class="card-body row">
             <div class="col-md-6"> <h5 class="card-title">{{item.name}}</h5></div>
              <div class="col-md-6"><h5 class="card-title">{{item.amount}}</h5></div>
              <button class="col-md-6" href="#" class="btn btn-block btn-primary">Delete</button>
            </div>
          </div>

    </div>
    {% empty %}
    NO Products
    {%endfor%}
</div>